@model IEnumerable<view_eye.Models.Doctors>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<a href="/Doctors/Create/">Create</a>

<div>
    <table border="1">
        <tr><th>Id</th></tr><tr><th>Name</th></tr>

        @foreach (var item in Model)
        {
            <tr><td>@item.Id</td>  <td>@item.Name</td></tr>
        }

    </table>



</div>